* {
    margin: 0;
    padding: 0;
}
.product {
    font-family: 'Lato', sans-serif;
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-info {
    padding: 0 14px;
}

.product-name {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
    margin: 12px 0;
    color: #0E161A;
}

.product-subtitle {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;  
    color: #0E161A; 
    margin-bottom: 20px;
}

.product-caption {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;
    color: #2A414F;
    margin: 11px 0;
}

.product-button {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FF9900;
    color: #0E161A;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
}

.product-button:hover {
    background-color: #c77801;
    color: #fff;
}

.product-button:focus {
    outline: none;
}